---
---

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Cantarell, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$text-color:       #e7e7e7;
$background-color: #343434;
$brand-color:      #f9e69f;

$grey-color:       #828282;
$grey-color-light: darken($grey-color, 25%);
$grey-color-dark:  lighten($grey-color, 40%);

@import "minima";

blockquote {
    font-style: normal;
}

.highlighter-rouge .highlight, pre, code {
    background-color: rgb(28, 28, 28);
    border: none;
}

.highlight {
    line-height: 1.4;
    border-radius: 5px;

    .s2 {
        color: rgb(55, 183, 65);
    }

    .kc {
        color: rgb(37, 168, 234);
        font-weight: normal;
    }
}

.site-header {
    border-top: none;
    border-bottom: 1px solid $grey-color;
    background-color: $grey-color-light;
    padding-top: 5px;
}

.site-title {
    font-weight: 400;
}

.site-footer {
    border-top: 1px solid $grey-color;
    background-color: $grey-color-light;
}

h1, h1.post-title {
    font-size: 2em;
    line-height: 1.4;
    padding-bottom: 0.1em;
    border-bottom: 1px solid $grey-color;
}

.page-content {
    padding: 15px 0;

    h2 {
        border-bottom: 1px solid $grey-color;
    }

    h2 {
        font-size: 1.5em;
        padding-bottom: 0.3em;
    }

    h3 {
        font-size: 1.4em;
    }
}

.thumbnails {
    clear: right;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .thumbnail {
        width: 22%;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 1%;
        border: 1px solid $grey-color;
        cursor: pointer;
    }

    .thumbnail:hover {
        border: 1px solid $brand-color;
    }
}

#fullpage {
    display: none;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(32,32,32,0.75);
}

#fullpage-image {
    display: block;
    border-radius: 10px;
    max-height: 85%;
    border: 1px solid $grey-color;
}

#fullpage-caption {
    background-color: $grey-color-light;
    border: 1px solid $grey-color;
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: 10px;
}

.post-content {
    img {
        border-radius: 10px;
        margin: 20px auto;
        display: block;
        border: 1px solid $grey-color;
    }
    img:not(#fullpage-image) {
        width: 90%;
    }
}

h3 {
    font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.trigger {
    .svg-icon {
        fill: $text-color;
    }

    .page-link {
        background-color: $grey-color-light;
        padding: 10px 20px;
        border-radius: 5px;
        line-height: 1;
    }
    .page-link:hover {
        border-color: $brand-color;
        text-decoration: none;
    }

    .page-link {
        border: 1px solid $grey-color;
    }
}


.site-nav .page-link:not(:last-child) {
    margin-right: 10px;
}

@include media-query($on-palm) {
    .thumbnails {
        flex-wrap: wrap;

        .thumbnail {
            width: 45%;
        }
    }

    .site-nav {
        border: 1px solid $grey-color;
        background-color: $grey-color-light;

        .page-link {
            border: none;
            margin-left: 0;
            border-radius: 0;
        }

        .page-link:not(:last-child) {
            margin-right: 0;
        }
    }
}
